.btn, .btn-large{
  background-color: #1E88E5;
}

// a.btn:hover{
//
// }


.cards{
  margin-top: 10%;
}

.card .card-title{
  font-size: 18px;
}

.card .card-action {
  padding: 10px 10px 30px 10px;
}
