.btn, .btn-large{
  background-color: #1E88E5;
}

// a.btn:hover{
//
// }
.pencil{
  color: blue;
}

.pencil:hover{
  color: rgb(30, 136, 229)
}

.trash{
  color: rgb(200, 0, 0)
}
.trash:hover{
  color: red;

}

.cards{
  margin-top: 10%;
}

.card .card-title{
  font-size: 18px;
}

.card .card-action {
  padding: 10px 10px 30px 10px;
}
