.banner{
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 5%;
  width: 100%;
  background-color: rgb(198, 198, 198)
}

.slogan > h3 {
  margin: 10px;
}

.slogan > h5 {
  margin: 10px;
}

.container {
   width: 100%;
}
